html,
body {
    font-family: Arial, sans-serif;  
    background-color: beige;  
    text-align: center;
}  
h1 {  
    color: darkgreen§;
}  
tr {
    border-bottom: 1px solid lightblue;
}
tr:hover {
    background-color: lightblue;
}